@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #f4f5f7;
}

nav {    
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    z-index: 1;
    position: fixed;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9698a6;
    padding: 0;
    width: 400px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}

.mobile-nav {
    height: 35vh;
    width: 88vw;
    background-color: #ffffff;
    z-index: 2;
    position: fixed;
    margin-top: 5em;
    margin-left: 1em;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    color: #2d314d;
    font-size: 19px;
    box-shadow: 20px 60px 100px hsl(233, 26%, 24%), -20px -10px 100px hsl(233, 26%, 24%);
    display: none;
}
.navtog {
    display: flex;
}
.close {
    display: none;
}
.show-close {
    display: flex;
}
.mobile-nav ul {
    height: 29vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mobile-nav ul li {
    list-style-type: none;
    text-align: center;
}

@media all and (min-width: 850px) {
    nav .hamburger, .mobile-nav, .parent {
        display: none;
    }
}
@media all and (max-width: 850px) {
    nav ul, .nav-link {
        display: none;
    }
}

.hero {
    background-color: #fafafa;
    z-index: 1;
}
.hero-flex {
    min-height: 100vh;
    background-color: #fafafa;
    background-image: url('images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media all and (min-width: 490px) {
    .intro-text {
        margin-top: 5em;
    }
}

@media all and (min-width: 600px) {
    .intro-text {
        margin-top: 10em;
    }
}

@media all and (min-width: 700px) {
    .intro-text {
        margin-top: 22em;
    }
}

.mockup {
    width: 19em;
}

.intro-text {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
}
.intro-text p {
    width: 83%;
    color: hsl(233, 8%, 62%);
    word-spacing: 3px;
}
.intro-text h1 {
    font-size: 2.3em;
    font-weight: 400;
    color: #2d314d;
    width: 80%;
}
.intro-text p,h1 {
    margin: 0;
}
.intro-text .intro-link {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, #31d35c,  #2bb7da);
    padding: 10px 20px;
    border-radius: 50px;
}

@media all and (min-width: 1100px) {
    .hero {
        height: 75vh;
    }
    .hero-flex {
        background-image: url('images/bg-intro-desktop.svg');
        background-position: left 132% bottom 120px;
        background-size: 47em;
        flex-direction: row-reverse;
        width: 100vw;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
        height: 75vh;
    }
    .mockup {
        width: 30em;
        z-index: 0;
        position: relative;
        left: 5em;
        bottom: 4em;
    }
    .intro-text {
        text-align: left;
        width: 50%;
        height: 57vh;
        align-items: flex-start;
        font-size: 18px;
        position: relative;
        bottom: 3em;
        margin-left: 5em;
        margin-top: 0;
    }
    .intro-text h1 {
        width: 70%;
        font-size: 3em;
    }
    .intro-text p {
        font-weight: 100;
        width: 70%;
    }
}

/* Benefits section */

#benefits {
    min-height: 90vh;
    background-color: #f4f5f7;
    font-size: 18px;
}
.benefits-intro {
    text-align: center;
    height: 30vh;
}
.benefits-intro h2 {
    color: #2d314d;
    font-size: 2em;
    font-weight: 300;
}
.benefits-intro p {
    color:  #9698a6;
    width: 300px;
    margin: auto;
}
.benefits-block {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
}
.ben {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 2em;
}
.ben h3,p {
    margin: 0;
}
.ben h3 {
    font-size: 1.4em;
    color: #2d314d;
    font-weight: 300;
}
.ben p {
    color: #9698a6;
    width: 300px;
}

@media all and (min-width: 1000px) { 
    #benefits {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0 2em;
    }
    .benefits-intro {
        text-align: left;
        width: 600px;
        margin-left: 5%;
        height: 20vh;
    }
    .benefits-intro p {
        margin: 0;
        width: 600px;
    }
    /* .bentro {
        margin-left: 0;
    } */
    .benefits-block {
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 2%;
        align-items: center;
        justify-content: space-evenly;
    }
    .ben {
        text-align: left;
        display: flex;
        align-items: flex-start;
        padding: 1em;
        width: 15em;
        font-size: 16px;
    }
    .ben img {
        width: 3.5em;
    }
    .ben p {
        width: 250px;
    }
}

#article {
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.article-heading {
    width: 85%;
    margin: 3em auto 1em auto;
}
.article-heading h2 {
    color: #2d314d;
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    margin: 0;
}
.posts {
    min-height: 450px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post {
    height: 350px;
    width: 250px;
    border-radius: 6px;
    background-color: #ffffff;
}
.post img {
    width: 250px;
    height: 53%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.post-text {
    height: 41%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 1em;
}
.post-text > * {
    margin: 0;
}
.author {
    font-size: 11px;
    color: #9698a6;
}
.post-text h4 {
    font-size: 14px;
    font-weight: 400;
    color: #2d314d;
}
.story {
    font-size: 13px;
    color: #9698a6;
}

@media all and (max-width: 1180px) {
    .posts {
        justify-content: space-evenly;
    }
    .post {
        margin: 1.3em;
    }
    .article-heading h2 {
        text-align: center;
    }
}

footer {
    min-height: 50vh;
    background-color: #2d314d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-flex {
    min-height: 250px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fafafa;
    font-size: 15px;
    font-weight: 300;
}
.foot-flex ul li {
    list-style-type: none;
}
.foot1 {
    padding: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.socials {
    display: flex;
    width: 160px;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}
.foot2 {
    padding: 0;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foot3 {
    padding: 0;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foot4 {
    padding: 0;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    align-items: flex-end;
}
.foot-link {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}
.foot4 p {
    color: #9698a6;
}
@media all and (max-width: 650px) {
    .foot-flex {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 18px;
    }
    .foot-flex > * {
        width: 100%;
        height: 120px;
        align-items: center;
    }
    .foot4 {
        height: 120px;
    }
}